@tailwind base;
@tailwind components;
@tailwind utilities;

body{
display: flex;
margin: 0;
padding: 0;
justify-content: center;
align-items: center;
background-color: #ccd0db;
}

.weather-info {
  margin: 20px;
  padding: 20px 50px;
  border: 2px solid rgb(107, 103, 103);
  border-radius: 5px;
}
